:root {
--background-dark: rgba(0, 0, 0, 0.75)
}
  .snowflake {
      user-select: none;
      pointer-events: none;
      z-index: 9999;
      color: #a9cce3;
      font-weight: bold;
      font-family: "Arial", sans-serif;
      white-space: nowrap;
      
    }

   